DOCKER_IMAGE="centos:7"
# DOCKER_IMAGE="ubuntu:18.04"

IMIF_ARTIFACTORY_CRED=your_user_name:YOUR_KEY_STRING
IMIF_DOCKER_REGISTRY=registry_url_or_ip 
IMIF_DOCKER_REGISTRY_USER="imie"
IMIF_DOCKER_REGISTRY_PASS="you password"

RSYNC_RSH="ssh <user>@server ssh"
IMIF_DEST_RSYNC=<user>@server:$USER

HTTP_PROXY="http://<http proxy url>:<port>"
HTTPS_PROXY="http://<https proxy url>:<port>"
FTP_PROXY="<ftp proxy url>:<port>"
NO_PROXY="url or ip to be used witout proxy"
